In [5]:
import json, os
dir = os.getcwd()
datasets = os.path.join(dir, "..", "datasets")
outputs = os.path.join(dir, "..", "outputs")

from SetSimilaritySearch import all_pairs
import pandas as pd

In [6]:
with open(os.path.join(outputs, "NTL_paths_list.json")) as f:
    sets = json.load(f)

In [7]:
pairs = all_pairs(sets, similarity_func_name = "jaccard", similarity_threshold = 0)
data = list(pairs)

In [8]:
df = pd.DataFrame(data, columns=["Document 1", "Document 2", "JACCARD SIMILARITY"]).sort_values(by = ["Document 2", "Document 1"])
df

    Document 1  Document 2  JACCARD SIMILARITY
36           1           0            0.627907
28           2           0            0.411765
29           3           0            0.411765
30           4           0            0.411765
31           5           0            0.074074
32           6           0            0.411765
33           7           0            0.400000
34           8           0            0.411765
35           9           0            0.400000
37           2           1            0.361702
38           3           1            0.361702
39           4           1            0.361702
40           5           1            0.046512
41           6           1            0.361702
42           7           1            0.382979
43           8           1            0.361702
44           9           1            0.354167
1            3           2            1.000000
3            4           2            1.000000
0            5           2            0.095238
6            6           2            1.000000
15           7           2            0.954545
10           8           2            1.000000
21           9           2            0.954545
4            4           3            1.000000
2            5           3            0.095238
7            6           3            1.000000
16           7           3            0.954545
11           8           3            1.000000
22           9           3            0.954545
5            5           4            0.095238
8            6           4            1.000000
17           7           4            0.954545
12           8           4            1.000000
23           9           4            0.954545
9            6           5            0.095238
18           7           5            0.090909
13           8           5            0.095238
24           9           5            0.090909
19           7           6            0.954545
14           8           6            1.000000
25           9           6            0.954545
20           8           7            0.954545
26           9           7            0.913043
27           9           8            0.954545

In [9]:
df.to_csv(os.path.join(outputs, "JACCARD.csv"))